<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estas convencido? mira lo que he construído!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicación que envía correos utilizando la API de Sendgrid.</p>
                <a class="orange" target='_blank' href="https://github.com/mrgomez84/mailapp">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Buffet ProEvent App</h3>
                <p>Una aplicación Android Nativo, para la PYME Buffet ProEvent</p>
                <a class="orange" href="https://play.google.com/store/apps/details?id=com.buffetapp.pro&hl=es_SV&gl=US">Link aquí</a>
            </div>
            <div class="Calculadora para Windows">
                <h3>Gestor de Tareas</h3>
                <p>Calculadora basica para Windows en VB</p>
                <a class="orange" href="https://github.com/mrgomez84/Calculadora">Link aquí</a>
            </div>
        </div>
    </div>
</div