<div class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded mover">
                <h1>Ahora o nunca! trabajemos juntos :)</h1>
                <p>Dare mi mejor esfuerzo! para aprender, aportar valor y tener una fructifera relación a largo plazo.</p>
            </div>
            <div id="contact" class="right padded">
                <form class="contact-form" method="post" action="{{ url_for('portfolio.mail') }}">
                    <input name="name" placeholder="Nombre" required/>
                    <input name="email" placeholder="Correo" required type="email"/>
                    <input name="phone" placeholder="WhatsApp" required type="phone"/>
                    <textarea placeholder="Mensaje" name="message" required minlength="10"></textarea>
                    <button class="btn button full-width">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>