<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estas convencido? mira lo que he construído!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mail App</h3>
                <p>Aplicación Web hecha en Python con Flask, que envía correos utilizando la API de Sendgrid.</p>
                <a class="orange" target='_blank' href="https://github.com/mrgomez84/mailapp">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Buffet ProEvent App</h3>
                <p>Aplicación Android Nativo, para la PYME Buffet ProEvent, con los Google Service</p>
                <a class="orange" href="https://play.google.com/store/apps/details?id=com.buffetapp.pro&hl=es_SV&gl=US">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Calculadora para Windows</h3>
                <p>Calculadora basica para Windows en Visual Basic</p>
                <a class="orange" href="https://github.com/mrgomez84/Calculadora">Link aquí</a>
            </div>
        </div>
    </div>
</div